
@{
    ViewData["Title"] = "Register";
}

<h1>Register Page</h1>

<form action="@Url.Action("Register","Home")" method="post"> 
    <input type="text" name="username" value="" />
    <input type="text" name="password"  value=""/>
    <button type="submit">Register</button>
</form>


