@model string

@{ 
    var url = $"/Oauth/Authorize{Model}";
}
<h2>@Model</h2>

<form action="@url" method="post">
    <input type="text" name="username" value=""/>
    <input type="submit"  value="Submit"/>
</form>